<suite name="MySuite">
  <test name="Login Tests">
      <packages>
          <package name="Tests.Login"/>
      </packages>
  </test>

  <test name="Sign Up Tests">
      <packages>
          <package name="Tests.SignUp"/>
      </packages>
  </test>
  
  <test name="Cart Tests">
      <packages>
          <package name="Tests.Cart"/>
      </packages>
  </test>

  <test name="Change Password Tests">
      <packages>
          <package name="Tests.ChangePassword"/>
      </packages>
  </test>
</suite>