<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginTestSuite">
    <listeners>
        <listener class-name="ExtentTestNGListener"/>
    </listeners>
    <test name="LoginTests">
        <classes>
            <class name="Tests.Cart.AddToCart"/>
        </classes>
    </test>
</suite>